@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    background-color: #3e1435;
    background-image: url(images/background.jpg);
    background-position: top;
    background-size: 650px;
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6c6;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.mainHeader {
    text-align: center;
    font-size: 3rem;
}

/*        ----- Navigation Menu -----          */
nav ul {
    list-style: none;
    margin: 0;
    margin-bottom: 200px;
    padding: 0;
}

nav a{
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: 0.3rem;
}

nav a:link, a:visited{
    color: #feeca7;
}

nav a:hover, a:active{
    background-color: #59145c68;
    color: #bababa;
}

nav a.currentPage {
    color: #bababa;
}

/*        ----- END of Navigation Menu -----          */


/* Olika egenskaper för stilsättning av texten (kap 12, p.261-) */

/* Ändra på paragrafer */

/* Skapa en class och använd det till några saker */


    /* Ändra liststil för attribut-listan */

 dt {
     font-weight: 400;
     font-size: 1.5rem;
 }


img.ad {
    max-height: 150px;
}

#protocol {
    opacity: 80%;
}

blockquote {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #800136;
    padding: 20px;
    margin-top: 0;
}